/*Color palette:

#0D0D0D
#05AFF2
#0487D9
#BF216B
#F2295F

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Serif', serif;
*/
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&family=Roboto:wght@400;700&display=swap";
/*global header, top to botom*/
header {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-family: "Roboto", sans-serif;
}
header .header-icons-container {
  width: 100%;
  height: 5rem;
  display: grid;
  background-color: #0D0D0D;
}
header .header-icons-container div {
  padding: 0.8rem;
  width: 20rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-end;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  margin-right: 2.5rem;
}

.fa-brands {
  color: #05AFF2;
  font-size: 2.5rem;
  box-shadow: 2px 2px 2px #301934, 10px 1px 12px #301934, 2px 2px 10px #301934, 2px 2px 3px #301934, inset 2px 2px 10px #301934, inset 2px 2px 10px #301934, inset 2px 2px 10px #301934, inset 2px 2px 10px #301934;
  border-radius: 2rem;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #3A1B2F, 0 0 100px #3A1B2F, 0 0 150px #3A1B2F, 0 0 200px #3A1B2F;
}
.fa-brands:hover {
  color: #F2295F;
}

.fa-twitter {
  animation-delay: 200ms;
}

.fa-linkedin-in {
  animation-delay: 400ms;
}

.fa-instagram {
  animation-delay: 600ms;
}

.fa-github {
  animation-delay: 800ms;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 5rem;
}
nav .nav-logo-container {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}
nav .nav-logo-container img {
  width: 4rem;
  margin-top: 0.8rem;
}
nav .profile-link {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .profile-link a {
  color: #0D0D0D;
  font-weight: bold;
}
nav .profile-link a:hover {
  border-bottom: 2px solid #0D0D0D;
}

/*global footer -except main.html*/
footer {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-family: "Roboto", sans-serif;
}

.footer-contact-containers {
  margin: 0 2.5rem 0 2.5rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-content: center;
  justify-content: space-around;
}
.footer-contact-containers a {
  padding: 1rem;
  margin: 0 2rem 0 2rem;
}

.footer-love {
  background-color: #0D0D0D;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-love h3 {
  color: whitesmoke;
  cursor: pointer;
}

.fa-heart {
  color: red;
}

/*index.html main*/
.index-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url(../images/pawel-nolbert-62OK9xwVA0c-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.index-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 20rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.index-main section h1 {
  color: whitesmoke;
  font-size: 2rem;
}

.button-index-main {
  width: 7rem;
  height: 4rem;
  font-size: 1.2rem !important;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.blogs-body {
  position: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*blogs.html main*/
.main-blogs {
  display: grid;
}

.featured-blog-container {
  width: 100%;
  background-color: #0487D9;
  color: whitesmoke;
  padding: 0.2rem;
}

.featured-grid-container {
  max-width: 980px;
  margin: auto;
}

.featured-img-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.featured-img-container picture {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.featured-img-container picture img {
  width: 80%;
  height: 80%;
}

.featured-description-container {
  grid-column: 2;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.featured-description-container p {
  margin: 0 2.5rem 0 2.5rem;
}

.button-feature-blog {
  margin-bottom: auto;
  margin-left: 2.5rem;
}

.latest-blog-containers {
  margin: 1rem 2.5rem 1rem 2.5rem;
  display: inline-block;
}
.latest-blog-containers div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 1rem;
}

.mini-blog-container {
  margin: 1rem 0;
  max-width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.mini-blog-container h3 {
  color: #BF216B;
}
.mini-blog-container p {
  margin: 0.8rem 0.8rem;
}
.mini-blog-container p:first-of-type::first-letter {
  font: bold 3rem/0.3 serif;
  color: #0487D9;
}
.mini-blog-container img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.button-mini-blog {
  margin-left: 1rem;
}

/* global css */
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
body {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  width: 100%;
  letter-spacing: 0.3rem;
}

a {
  text-decoration: none;
  color: #0D0D0D;
}

::selection {
  background-color: #32CD32;
  color: #5c0a0a;
}

[class^=button] {
  transition: all 500ms;
  border: none;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #05AFF2;
  color: whitesmoke;
  display: flex;
  text-align: center;
  align-self: flex-start;
  margin-top: auto;
}
[class^=button]:hover {
  background-color: #F2295F;
  cursor: pointer;
}

/*contacto.html main*/
.main-form {
  margin: 0 2.5rem 0 2.5rem;
}

/* any blog entry main*/
.entry-main {
  margin: 1rem 2.5rem 0.5rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.entry-main section p:first-of-type::first-letter {
  font: bold 3rem/0.3 serif;
  color: #0487D9;
}

.entry-img-container {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
