/**
Ice Cold: #f7f0fa
light bluish: #a0d2eb
Purple: #d0bdf4
Strong purple: #8458B3
blackish purple: #1f1137
meh?: #a28089

font-family: 'Montserrat', sans-serif;  # For menus
font-family: 'Roboto Slab', serif;  # text that needs to be rea

**/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

main {
    background-color: #f7f0fa;
}

header {
    font-family: 'Montserrat', sans-serif;
    color: #f7f0fa;
    background-color: #a0d2eb;
}

main {
    font-family: 'Roboto Slab', serif;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #f7f0fa;
    background-color: #1f1137;    
}

section div {
    color: #f7f0fa;
    background-color: #8458B3;
}

a {
    text-decoration: none;
}


/* Flexbox code*/

ul {
    list-style: none;
 }
 li {
    display: inline-block;
    width: 18%;
    position:relative;
    font-size: 14px
 }
 ul ul {
    position: absolute;
    display: none;
 }
 ul ul li {
    display: block;
 }
 ul li:hover ul {
    display:block;
 }
 


/** classes **/

.cardPrincipal {
    color: #1f1137;
}

.navclass {
    list-style: none;
}

/** ID's **/
#parrafoEjemplo {
    color: aqua;
}