/*
Color palette:

#0D0D0D
#05AFF2
#0487D9
#BF216B
#F2295F

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Serif', serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&family=Roboto:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

body h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0D0D0D;
}

/* header top to bottom */

header {
    width: 100%;
    height: 9rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Roboto', sans-serif;
}

header .header-icons-container {
    width: 100%;
    height: 4rem;
    display: grid;
    background-color: #0D0D0D;
}

/* Siento que es un poco de trampa ponerle un default de
320 px al contenedor y asi ahorrarme el tener que hacer
un responsive header pero hey! funciona en este caso*/

header .header-icons-container div {
    padding: .5rem;
    width: 20rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    margin-right: 2.5rem;
}

.fa-brands {
    color: #05AFF2;
    font-size: 2rem;
}

.fa-brands:hover {
    color: #F2295F;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 5rem;
}

nav .nav-logo-container {
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
}

nav .nav-logo-container img {
    width: 4rem;
    margin-top: .8rem;
}

nav .profile-link {
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .profile-link a {
    color: #0D0D0D;
    font-weight: bold;
}

nav .profile-link a:hover {
    border-bottom: 2px solid #0D0D0D;
}

/* index.html main */

.index-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url(../images/pawel-nolbert-62OK9xwVA0c-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Background image py Pawel Nolbert: https://unsplash.com/@hellocolor */
}

.index-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.index-main section h1 {
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: .5rem;
    text-align: center;
}

.index-main section a {
    border: none;
    border-radius: .75rem;
    padding: 1rem;
    width: 7rem;
    height: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #05AFF2;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 700;
}

.index-main section a:hover {
    background-color: #F2295F;
    cursor: pointer;
}

/* Footer */

footer {
    width: 100%;
    height: 8rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Roboto', sans-serif;
}

.footer-contact-containers {
    margin: 0 2.5rem 0 2.5rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-around;
}

.footer-contact-containers a {
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

footer .footer-love {
    background-color: #0D0D0D;
    height: auto;
}

footer .footer-love h3{
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
}

.fa-heart {
    color: red;
}

/* blogs.html main */

.blogs-body {
    position:inherit;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-blogs {
    display: grid;
}

.featured-blog-container { /* contains featured blog entry*/
    border: .5rem solid #0487D9;
    border-radius: .75rem;
    margin: 0 2.5rem 0 2.5rem;
    padding: .2rem;
}

.featured-img-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.featured-img-container picture {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.featured-img-container picture img {
    width: 80%;
    height: 80%;
}

.featured-description-container {
    grid-column: 2;
    margin-bottom: 1rem;
}

.featured-description-container p {
    margin-bottom: 2rem;
}

.latest-blog-containers {
}

.latest-blog-containers div {
    margin: 0 2.5rem 0 2.5rem;
}

.latest-blog-containers div h3 {
    text-align: center;
}

.mini-blog-container {
    display: flex;
    flex-wrap: wrap;
}

.blog-button {
    border: none;
    border-radius: .6rem;
    width: 6rem;
    height: 3rem;
    display: flex;
    padding: 0 .2rem 0 .2rem;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #0487D9;
    color: whitesmoke;
    font-size: 1rem;
}

.blog-button:hover {
    background-color: #BF216B;
    cursor: pointer;
}

.mini-blog-container {

}


/* contacto.html main*/

.main-form {
    margin: 0 2.5rem 0 2.5rem;
}
