/*Color palette:

#0D0D0D
#05AFF2
#0487D9
#BF216B
#F2295F

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Serif', serif;
*/
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&family=Roboto:wght@400;700&display=swap";
@import "./utilities/variables";
@import "../utilities/mixins";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main";
@import "./layout/blogs";

/* global css */
@keyframes animate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
body {
	padding: 0;
	margin: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	width: 100%;
	letter-spacing: .3rem;
}
a {
	text-decoration: none;
	color: #0D0D0D;
}
::selection {
	background-color: #32CD32;
	color: #5c0a0a;
}
[class^=button] {
	transition: all 500ms;
	border: none;
	border-radius: .6rem;
	padding: 1rem 2rem;
	font-size: 1rem;
    background-color: $bc-button;
    color: $text-button;
	display: flex;
	text-align: center;
	align-self: flex-start;
	margin-top: auto;
	&:hover {
		background-color: $hover-all;
		cursor: pointer;
	}
}
/*contacto.html main*/
.main-form {
	margin: 0 2.5rem 0 2.5rem;
}
/* any blog entry main*/
.entry-main {
	margin: 1rem 2.5rem .5rem 2.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	section {
		p {
			&:first-of-type {
				&::first-letter {
					font: bold 3rem / .3 serif;
					color: #0487D9;
				}
			}
		}
	}
}
.entry-img-container {
	display: block;
	margin: 0 auto;
}
