/*blogs.html main*/
.main-blogs {
	display: grid;
}
.featured-blog-container {
	width: 100%;
	background-color: #0487D9;
	color: whitesmoke;
	padding: .2rem;
}
.featured-grid-container {
	max-width: 980px;
	margin: auto;
}
.featured-img-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;
	picture {
		grid-column: 1;
		display: flex;
		align-items: center;
		justify-content: space-around;
		img {
			width: 80%;
			height: 80%;
		}
	}
}
.featured-description-container {
	grid-column: 2;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	p {
		margin: 0 2.5rem 0 2.5rem;
	}
}
.button-feature-blog {
	margin-bottom: auto;
	margin-left: 2.5rem;
}
.latest-blog-containers {
	margin: 1rem 2.5rem 1rem 2.5rem;
	display: inline-block;
	div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 100%;
		margin-top: 1rem;
	}
}
.mini-blog-container {
	margin: 1rem 0;
	max-width: 30%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	h3 {
		color: #BF216B;
	}
	p {
		&:first-of-type {
			&::first-letter {
				font: bold 3rem / .3 serif;
				color: #0487D9;
			}
		}
		margin: .8rem .8rem;
	}
	img {
		width: 90%;
		display: block;
		margin: 0 auto;
	}
}
.button-mini-blog {
	margin-left: 1rem;
}